<div class="row">
  <div class="col-md-5 mx-auto">
    <div class="login-container">
      <h2 class="text-center login-title">Login</h2>
      <div *ngIf="errorMessage" class="alert alert-danger">
        {{ errorMessage }}
      </div>
      <!-- Form Start -->
      <form (ngSubmit)="onSubmit()">
        <!-- username Input -->
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            [(ngModel)]="username"
            name="username"
            placeholder="Enter your username"
            required
          />
        </div>

        <!-- Password Input -->
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            id="password"
            [(ngModel)]="password"
            name="password"
            placeholder="Enter your password"
            required
          />
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100">Login</button>

        <!-- Register Link -->
        <div class="mt-3 text-center">
          <a routerLink="/register" class="text-decoration-none"
            >Don't have an account? Register</a
          >
        </div>
      </form>
      <!-- Form End -->
    </div>
  </div>
</div>
